.Normal_text {font-family:Arial;font-weight:normal;font-style:normal;font-size:14.97pt;text-decoration:none;text-transform: none;color:#FFFFFF;letter-spacing:0.03em;}
.Heading_1 {font-family:Arial;font-weight:bold;font-style:normal;font-size:51.83pt;text-decoration:none;text-transform: none;color:#E5E5E5;letter-spacing:0.03em;}
.Heading_3 {font-size:27.57pt;letter-spacing:0em;}
